// bower:scss
// endbower

@import "compass/css3";

@mixin container() {
    @include display-box();
    @include box-align(center);
    @include box-direction(column);
}

$black: #343434;
$gray: #2F2F2F;
$green: #72CC52;
$white: #EFEFEF;

body {
    font-size: 16px;
}

@-webkit-keyframes STAR-MOVE {
    from {
        left: 0;
        top: 0;
    }
    to { 
        left: -10000px;
        top: -2000px;
    }
}

#background {
    background: black url(assets/background.png) repeat 5% 5%;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 100;
    
    -webkit-animation-name: STAR-MOVE;
    -webkit-animation-duration: 200s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

#midground {
    background: url(assets/midground.png) repeat 20% 20%;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 200;
    
    -webkit-animation-name: STAR-MOVE;
    -webkit-animation-duration: 150s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

#foreground {
    background: url(assets/foreground.png) repeat 35% 35%;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 300;
    
    -webkit-animation-name: STAR-MOVE;
    -webkit-animation-duration: 100s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}



.tweet-machine-container {
    @include container;
    
    font-size: 1.4rem;
    position: relative;
    z-index: 400;

    h1 {
        color: $black;
    }

    .machine {
        // @include box-direction(reverse);
        @include container;
        padding: 2rem;
        position: relative;
        top: -7rem;
        height: 10rem;
        width: 24rem;

        .tweet {
            @include box-flex(1);
            background-color: $gray;
            color: $white;
            margin-bottom: 1rem;
            padding: 1rem 2rem;
            position: absolute;
            height: 10rem;
            width: 20rem;

            @include single-transition(all, 300ms, linear);

            .title {
                font-size: 1rem;
                margin: 0;
            }

            .content, .timestamp {
                font-size: .8rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                span {
                    display: block;
                }                
            }

            .index {
                @include border-radius(10rem);
                background-color: $green;
                color: $black;
                display: inline-block;
                font-size: 1rem;
                font-weight: bold;
                position: absolute;
                top: -1rem;
                left: -1rem;
                width: 2rem;
                text-align: center;
                line-height: 2rem;
                vertical-align: middle;
            }

        }
    }
    .actions {

        @include box-direction(row);
        @include box-pack(center);
        @include container;

        position: relative;
        z-index: 500;

        button {
            background-color: $green;
            border: none;
            color: $gray;
            line-height: 2rem;
            padding: 0 1rem;
            width: 10rem;

            &:hover {
                background-color: $gray;
                color: $green;
                cursor: pointer;
            }
        }
    }

}
