@import "compass/css3";
@import "compass/css3/flexbox";

@import "partials/mixins";
@import "partials/colors";
@import "partials/icons";

html, body {
	height: 100%;
}
body {
    font-size: 10px;
    font-family: helvetica, sans-serif;
    margin: 0;
}

.flex-container {
	@include flex-container;
}

@import "partials/background";

// DIRECTIVES
@import "partials/directives/mcmTweetMachine";